*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*Header*/

header{
    width: 100%;
    height: 50px;
    border: 1px solid red;
}

nav{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ff4f42;
}

nav a{
    color: #fff;
    text-decoration: none;
}

/*Main*/

main{
    width: 100%;
    height: 100%;
    padding: 10px 50px;
}

.div--texto{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.titulo{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px 0;
}

.div--imagen_texto{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.imagen{
    width: 100%;
    height: 100%;
    margin: 10px 0;
}

.imagen img{
    width: 100%;
}

.texto{
    width: 100%;
    height: 100%;
    margin: 10px 0;
    text-align: justify;
}

.texto p{
    margin-bottom: 15px;
}

.enlace{
    width: 100%;
    height: 100%;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.enlace_a{
    width: 400px;
    background-color: #ff4f42;
    padding: 20px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    font-size: 40px;
}

i{
    margin-left: 20px;
}

.enlace_a:hover{
    background-color: #c42b20;
}
